.navegation {
    height: 50px;
    width: 50px;
    background-color: white;
    font-size: 2rem;
    color: #76045D;
    display: grid;
    place-items: center;
    transition: all .5s;
}

.product__navegation-container {
    display: flex;
}

.navegation:hover {
    background-color: black;
}